.Main_Container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.Container {
  width: 48%;
}

.Container h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.items {
  border: 1px solid #dee2e6;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.panels {
  border-bottom: 1px solid #dee2e6;
  padding: 20px;
  font-size: 25px;
}
